# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#jobs-overview & https://circleci.com/docs/reference/configuration-reference/#jobs
jobs:
  build-and-test:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      
      # Install C++ compiler and build tools
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y build-essential g++ make
      
      # Build your C++ project using make
      - run:
          name: Build
          command: make
      
      # Run tests (if you have them)
      - run:
          name: Run tests
          command: make test  # or ./your_executable if you don't have a test target

workflows:
  build-and-test-workflow:
    jobs:
      - build-and-test
